<div class="container">
    <header>
        <div class="logo"><a href="/"><img src="/images/logo.png" alt="logo"></a></div>
        <div class="navbar">
            <div class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About</a></li>
                <% if(user){ %>
                    <% if(user.role==='admin' ){ %>
                        <li><a href="/admin/orders">Orders</a></li>
                        <% } else { %>
                            <li><a href="/customer/orders">Orders</a> </li>
                            <% } %>
                                <li>
                                    <form id="logout" action="/account/logout" method="POST">
                                        <a onclick="document.querySelector('#logout').submit()">Logout</a>
                                    </form>
                                </li>
                                <% } else{ %>
                                    <li><a href="/account/login">Account</a></li>
                                    <% } %>
            </div>
        </div>
        <div class="cart">
            <a href="/cart">
                <p id="cart-counter" style="font-weight:500 ;margin-right: 5px;">
                    <%= (session.cart && session.cart.totalQty) ? session.cart.totalQty : '' %>
                </p>
                <img src="/images/cart.png" alt="">
            </a>
        </div>
    </header>
</div>